<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.ChapelSubjectMapper">
	<select id="findAll" resultType="ChapelSubject">
		SELECT * FROM chapelsubject
	</select>
	<select id="findById" resultType="Integer">
		SELECT count(*) FROM
		chapelsubject c join student_subject_grade ssg on
		c.idchapel =
		ssg.subjectId where ssg.id = #{id};
	</select>
</mapper>