<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
          
<mapper namespace="net.skhu.mapper.CheckStudentGradeMapper">
	
	<select id="findOneMini" resultType="Student">
	select d.departmentName, s.grade, s.id, s.name 
	from student s Left join department d on s.departmentId=d.id 
	where s.id= #{id};
  	</select>
  	
  	<select id="grade" resultType="StudentSubjectGrade">
  	select sg.yearOfClass, sg.yearOfSemester, sg.subjectId, sj.name subjectName, sg.completeType,sj.subjectScore, sg.grade 
  	from student_subject_grade sg left join subject sj on sg.subjectId=sj.id 
  	where sg.id = #{id}
  	order by sg.yearOfClass, sg.yearOfSemester;
  	</select>
  	
  	<select id="totalGrade1" resultType="StudentGradeFile">
  	SELECT f.totalUnit, f.totalAvgGrade 
  	FROM student_gradefile f 
  	WHERE id=#{id}
  	</select>
  	
  	<select id="totalRequiredMajor" resultType="StudentGradeFile">
  	select sum(sj.subjectScore) totalRequiredMajor
  	from student_subject_grade sg left join subject sj on sg.subjectId=sj.id 
  	where sg.id = #{id} and (sg.completeType="전공필수" or sg.completeType="전필")
  	</select>
  	
  	<select id="totalSelectedMajor" resultType="StudentGradeFile">
  	select sum(sj.subjectScore) totalSelectedMajor
  	from student_subject_grade sg left join subject sj on sg.subjectId=sj.id 
  	where sg.id = #{id} and (sg.completeType="전공선택" or sg.completeType="전선")
  	</select>
  	
  	<select id="totalRequiredCulture" resultType="StudentGradeFile">
  	select sum(sj.subjectScore) totalRequiredCulture
  	from student_subject_grade sg left join subject sj on sg.subjectId=sj.id 
  	where sg.id = #{id} and (sg.completeType="교양필수" or sg.completeType="교필")
  	</select>
  	
  	<select id="totalSelectedCulture" resultType="StudentGradeFile">
  	select sum(sj.subjectScore) totalSelectedCulture
  	from student_subject_grade sg left join subject sj on sg.subjectId=sj.id 
  	where sg.id = #{id} and (sg.completeType="교양선택" or sg.completeType="교선")
  	</select>
  	
</mapper>
             
             