<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.MyCellMapper">
	<insert id="insert" parameterType="java.util.List">
		INSERT INTO student_subject_grade(id, yearOfClass, yearOfSemester, subjectId, completeType,grade)
    	VALUES
    	<foreach collection="list" item="item" separator=",">
    		(#{item.id}, #{item.yearOfClass}, #{item.yearOfSemester}, #{item.subjectId}, #{item.completeType}, #{item.grade} )
    	</foreach>
  	</insert>
  	<select id="findAllById" resultType="MyCell">
  		SELECT ssg.*, g.score, s.subjectScore
  		FROM (student_subject_grade ssg LEFT JOIN grade g ON ssg.grade = g.gradeLevel) LEFT JOIN subject s ON subjectId = s.id
  		WHERE ssg.id=#{id}
  		<!-- score는 A+이면 4.5 B이면 3.. 이런거, subjectScore는 각 과목의 학점.. 헷갈린다ㅠㅠ -->
  	</select>
  	<delete id="delete">
  		DELETE FROM student_subject_grade
  		WHERE id=#{id}
  	</delete>
</mapper>