<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.MyCellMapper">
	<!--void insert(Map<Integer,List<String>> data, int id, String strToday); -->
	<insert id="insert" parameterType="HashMap">
		INSERT INTO student_subject_grade(id, yearOfClass, yearOfSemester, subjectId, completeType, grade)
    	VALUES
    	<foreach collection="rowIndex" item="row1" separator=",">
    		(#{row1.id}, #{row1.yearOfClass}, #{row1.yearOfSemester}, #{row1.subjectId}, #{row1.completeType}, #{row1.grade} )
    	</foreach>
  	</insert>
</mapper>