<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.ProfessorMapper">
	<select id="findById" resultType="Professor">
		SELECT * FROM professor WHERE id = #{id}
	</select>
	<select id="findAll" resultType="Professor">
		SELECT p.*, d.departmentName FROM Professor p LEFT JOIN department d ON p.departmentId = d.id
	</select>
	<select id="findByDepartment" resultType="Professor">
		SELECT 	p.*, d.departmentName FROM Professor p LEFT JOIN Department d ON p.departmentId = d.id WHERE d.departmentName = #{departmentName}
	</select>
	<select id="findByInquiry" resultType="Professor">
		<!-- String name, int id, String departmentName -->
		SELECT p.*, d.departmentName 
		FROM professor p LEFT JOIN department d ON p.departmentId = d.id
		<!--WHERE d.departmentName LIKE CONCAT('%',#{departmentName},'%') or p.name=#{name}
	    OR p.id=#{id} -->
	    WHERE p.name=#{name} OR p.id=#{id} OR d.departmentName=#{departmentName}
	
	</select>
	<insert id="insert" parameterType="Professor">
    	INSERT Professor (id, name, email, departmentId, password)
    	VALUES (#{id}, #{name}, #{email}, #{departmentId}, #{password})
  	</insert>
  	<update id="update">
  		UPDATE professor SET email = #{email}, password = #{password} WHERE id=#{id}
  	</update>
  	<delete id="delete">
		DELETE FROM professor WHERE id=#{id}
	</delete>
</mapper>