<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.StudentMapper">
	<select id="findAll" resultType="Student">
		SELECT s.*, d.departmentName FROM student s LEFT JOIN department d ON s.departmentId = d.id
	</select>
	<select id="findById" resultType="Student">
		SELECT * FROM Student WHERE id=#{id}
	</select>
	<select id="findOne" resultType="Student">
		SELECT * FROM Student WHERE id=#{id}
	</select>
	<select id="findWithQuiz" resultType="Student">
		SELECT s.*, pq.quizContent from student s LEFT JOIN passwordquiz pq ON s.passwordQuestion = pq.quizCode WHERE id=#{id}
	</select>
	<insert id="insert" parameterType="Student">
    	INSERT Student (id, name, departmentId, grade, entranceType, password, password2, passwordQuestion, passwordAnswer, email, completeSemester)
    	VALUES (#{id}, #{name}, #{departmentId}, #{grade}, #{entranceType}, #{password}, #{password2}, #{passwordQuestion}, #{passwordAnswer}, #{email}, #{completeSemester})
  	</insert>
  	<update id="update">
  		UPDATE student SET departmentId = #{departmentId}, grade = #{grade}, password = #{password}, password2 = #{password2}, passwordQuestion = #{passwordQuestion}, passwordAnswer=#{passwordAnswer}, email = #{email}, completeSemester = #{completeSemester} WHERE id=#{id}
  	</update>
  	<update id="updatePassword">
  		UPDATE student SET password = #{password}, password2 = #{password2} WHERE id=#{id}
  	</update>
</mapper>