<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.SubstitutionSubjectMapper">
	<select id="findAll" resultType="SubstitutionSubject">
		SELECT subsubject.abolitionSubject , abosub.name abolitionSubjectName, substi.name substitutionSubjectName, subsubject.departmentId, d.departmentName 
		FROM substitution_subject_list subsubject 
		LEFT JOIN subject abosub ON subsubject.abolitionSubject = abosub.id 
		LEFT JOIN subject substi ON subsubject.substitutionSubject =  substi.id 
		LEFT JOIN department d ON subsubject.departmentId = d.id
		ORDER BY subsubject.departmentId
	</select>
	<select id="findBySubject" resultType="SubstitutionSubject">
		SELECT subsubject.abolitionSubject, abosub.name abolitionSubjectName, substi.name substitutionSubjectName, subsubject.departmentId, d.departmentName 
		FROM substitution_subject_list subsubject 
		LEFT JOIN subject abosub ON subsubject.abolitionSubject = abosub.id 
		LEFT JOIN subject substi ON subsubject.substitutionSubject =  substi.id 
		LEFT JOIN department d ON subsubject.departmentId = d.id
		WHERE (#{subject} IS NULL OR #{subject}="" OR #{subject}=abosub.name OR abosub.name LIKE CONCAT('%',#{subject},'%') OR #{subject}=substi.name OR substi.name LIKE CONCAT('%',#{subject},'%'))
		ORDER BY subsubject.departmentId
	</select>
	<select id="findBySubjectId" resultType="SubstitutionSubject">
		SELECT subsubject.abolitionSubject, abosub.name abolitionSubjectName, substi.name substitutionSubjectName, subsubject.departmentId, d.departmentName 
		FROM substitution_subject_list subsubject 
		LEFT JOIN subject abosub ON subsubject.abolitionSubject = abosub.id 
		LEFT JOIN subject substi ON subsubject.substitutionSubject =  substi.id 
		LEFT JOIN department d ON subsubject.departmentId = d.id
		WHERE subsubject.abolitionSubject = #{subjectId}
	</select>
	<insert id="insert">
		INSERT substitution_subject_list (departmentId, abolitionSubject, substitutionSubject) VALUES (#{departmentId}, #{abolitionSubject}, #{substitutionSubject})
	</insert>
	<update id="update" parameterType="SubstitutionSubject"> 
		UPDATE substitution_subject_list SET substitutionSubject = #{substitutionSubject} 
		WHERE abolitionSubject = #{abolitionSubject}
	</update>
	<delete id="delete">
		DELETE FROM substitution_subject_list WHERE abolitionSubject = #{abolitionSubject}
	</delete>
</mapper>