input.form-control.w110 {
	width: 110px;
}

input.form-control.w200 {
	width: 200px;
}

input.form-control.w250 {
	width: 250px;
}

input.form-control.w400 {
	width: 400px;
}

input.form-control.w505 {
	width: 505px;
}